<div class="perfil-container">
   
      <aside class="sidebar">
         
          <div class="user-info">
              <div class="avatar">
                  {{ getInicial() }}
                </div>
              <div class="welcome">
                  <span>Olá,</span>
                  <strong>{{ getNomeUsuario() }}!</strong>
                </div>
            </div>

          <nav class="menu">
              
              <h2 class="menu-title">Gerenciamento de CRUDS</h2>

              <a routerLink="/perfil-admin/fabricantes" routerLinkActive="active">
                  Fabricantes
                </a>
              
              <a routerLink="/perfil-admin/fornecedores" routerLinkActive="active">
                  Fornecedores
                </a>
              
              <a routerLink="/perfil-admin/marcas" routerLinkActive="active">
                  Marcas
                </a>
              
              <a routerLink="/perfil-admin/modelos" routerLinkActive="active">
                  Modelos
                </a>
              
              <a routerLink="/perfil-admin/televisoes-lista" routerLinkActive="active">
                  Televisões
                </a>

              <a routerLink="/perfil-admin/funcionarios" routerLinkActive="active" class="future-link">
                  Funcionários
                </a>

              <a routerLink="/perfil-admin/usuarios" routerLinkActive="active" class="future-link">
                  Clientes
                </a>


              <h2 class="menu-title" style="margin-top: 20px;">Segurança</h2>

              <a routerLink="/perfil-admin/gerenciar-credenciais" routerLinkActive="active">
                  Gerenciar Credenciais
              </a>


              <button (click)="logout()" class="logout-btn">
                  Sair da conta
                </button>

            
    </nav>
        </aside>

      <main class="content-area">
          <router-outlet></router-outlet>
        </main>

</div>